.card{
    color:white;
    background-color: rgba(0,0,0,0.1);
    transition: ease-in-out .5s;
  }
  .search{
    border:0;
    background-color: rgba(0,0,0,0.1);
    color:white;
    opacity: .7;
    width: 40vh;
    transition: ease-in-out .5s;
  }
  .search:focus{
    outline: none;
    border-radius: 20px;
    width: 55vh;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 1px;
  }
  .search::placeholder{
    opacity: .5;
    color:white;
  }
  @font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('./fonts/SEGA.woff') format('woff');
    }
  h1{
    font-family: 'SEGA LOGO FONT';
    font-weight: 100;
    color:#0ccac4;
  }
  h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  p{
    font-family: 'Courier New', Courier, monospace;
  }
  hr{
      border-color: rgba(0, 0, 0, 0.1);
  }
  ::-webkit-scrollbar{
    width: 10px;
    background-color:rgba(141,0,255,1);
  }
  ::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background:rgba(255,0,164,0.6);
  }
